body {
    background-color: #f1f1f1;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.calculator {
    background-color: #1f1f1f;
    border: #8f8f8f solid;
    border-width: 6px;
    border-radius: 20px;
    width: 630px;
    height: 760px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 50px auto;
}
.display {
    background-color: transparent;
    border: none;
    outline: none;
    width: 600px;
    height: 100px;
    margin: 10px auto;
    margin-left: 10px;
    font-size: 48px;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 500px;
    height: 570px;
    margin: 0 auto;
    margin-top: 10px;
}
button {
    font-size: 40px;
    width: 110px;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
}
.top {
    background-color: #A8A6A6;
}
.right {
    background-color: #EFA44E;
}
button img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}